@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

.container {
	display: block;
	width: 320px;
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
}
.header {
	margin-bottom: 2px;
}
.nav {
	background-color: #373c3f;
}
.navigation {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navigation-header {
	padding-left: 19px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 26px;
	color: #fff;
	text-transform: capitalize;
	margin: 0;
}
.item-hidden {
	display: none;
}
.nav-bar {
	display: none;
	position: absolute;
	top: 36px;
	right: 0;
	width: 180px;
	background-color: #f5f5f5;
}
.nav-bar ul {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav-bar a {
	display: block;
	padding: 9px 0 9px 12px;
	color: #444444;
	font-size: 12px;
	font-weight: 400;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
	text-decoration: none;
}
.nav-bar a:hover {
	background-color: #fafafa;
}
.nav-bar.nav-bar-active {
	display: inline-block;
}
.nav-bar-hidden {
	margin-left: 30px;
	width: 60%;
}
.nav-bar-hidden ul {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav-bar-hidden a {
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
}
.logo-img {
	width: 100px;
	height: 80px;
	padding: 8px 38px 8px 0;
}
.burger-button {
	width: 40px;
	position: relative;
	cursor: pointer;
	background: #202529;
	padding: 18px 0;
}
.burger-button i {
	margin-left: 12px;
	display: block;
	position: absolute;
	height: 2px;
	width: 42%;
	left: 0;
	transform: rotate(0deg);
	transition: .25s ease-in-out;
	background-color: #fff;
}
.burger-button i:nth-child(1) {
	top: 13px;         
}                   
.burger-button i:nth-child(2), .burger-button i:nth-child(3) {
	top: 17px;      
}                   
.burger-button i:nth-child(4) {
	top: 21px;
}
.burger-button.burger-button-active i:nth-child(1) {
	width: 0;
}                   
.burger-button.burger-button-active i:nth-child(2) {
	transform: rotate(45deg);
}
.burger-button.burger-button-active i:nth-child(3) {
	transform: rotate(-45deg);
}                   
.burger-button.burger-button-active i:nth-child(4){
	width: 0;
}
.slogan {
	padding: 16px 0 79px 20px;
	background: url(../img/header-fon-big.png) center no-repeat;
	background-size: cover;
}
.slogan-header {
	margin: 0 0 5px;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
}
.url {
	margin-top: 8px;
	color: #a6d6e0;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
}
.section-services {
	display: flex;
	flex-direction: column;
}
.services {
	margin: 1px 0;
	display: flex;
	color: #fff;
	text-align: center;
	text-decoration: none;
}
.service-item {
	width: 100%;
	padding: 26px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}
.service-item h2 {
	font-size: 20px;
	margin: 0;
}
.service-btn {
	flex: 1 0 22%;
	background-color: #acd8ad;
	color: #fff;
	font-size: 30px;
	text-decoration: none;
	line-height: 65px;
}
.delivery {
	background-image: url(../img/pizza_fon.png);
}
.salads {
	background-image: url(../img/salads_fon.png);
}
.desserts {
	background-image: url(../img/desserts_fon.png);
}
.main-header { 
	display: flex;
	justify-content: space-between;
	margin: 19px 0 8px 8px;
}
.menu-main-header {
	margin: 0;
	color: #3f4043;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
}
.menu-main-subheader {
	color: #cbccce;
	font-size: 10px;
	margin: 2px 0;
}
.menu-logo {
	width: 120px;
	height: 98px;
}
.menu {
	display: flex;
	flex-direction: column;
}
.menu-header {
	margin: 0;
	padding: 6px 0 7px 19px;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
}
.menu-snack-and-wine {
	background-color: #3f4043;
	color: #acd8ad;
}
.menu-coffe-and-tea {
	background-color: #acd8ad;
	color: #fff;
}
.in-menu-content {
	margin: 0 16px 30px;
}
.menu-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu-item h3 {
	color: #3f4043;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 16px 0 15px 3px;
}
.menu-img {
	height: 25px;
}
.menu-list {
	margin: 0;
	padding: 0;
	position: relative;
}
.menu-list li {
	list-style: none;
}
.menu-list h4 {
	margin: 0;
	color: #3f4043;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}
.menu-list h4:before {
	content: '\00B7';
	padding-right: 3px;
}
.menu-list p {
	margin: 2px 2px 4px;
	color: #3f4043;
	font-size: 9px;
	font-weight: 400;
}
.price {
	position: absolute;
	right: 0;
}
.foot {
	margin-top: 16px;
	background-color: #acd8ad;
}
.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 0;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}
.in-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer h3 {
	margin: 3px 0 3px;
	font-size: 12px;
	font-weight: 400;
}


@media screen and (min-width: 321px) {
	.container {
		width: 100%;
	}
}
@media screen and (min-width: 640px) {
	.navigation-header {
		padding-left: 38px;
		font-size: 24px;
	}
	.nav-bar {
		display: none;
		position: absolute;
		top: 72px;
		right: 0;
		width: 360px;
	}
	.nav-bar a {
		padding: 18px 0 18px 24px;
		font-size: 24px;
	}
	.burger-button {
		width: 80px;
		padding: 36px 0;
	}
	.burger-button i {
		margin-left: 24px;
		height: 4px;
	}
	.burger-button i:nth-child(1) {
		top: 25px;         
	}                   
	.burger-button i:nth-child(2), .burger-button i:nth-child(3) {
		top: 34px;      
	}                   
	.burger-button i:nth-child(4) {
		top: 42px;
	}
	.slogan {
		padding: 30px 0 200px 38px;
	}
	.slogan-header {
		line-height: 38px;
		font-size: 36px;
	}
	.url {
		margin-top: 22px;
		font-size: 24px;
	}
	.service-item {
		padding: 53px 0;
	}
	.service-item h2 {
		font-size: 36px;
	}
	.service-btn {
		font-size: 60px;
		line-height: 130px;
	}
	.main-header {
		padding: 45px 0 20px 22px;
	}
	.menu-main-header {
		font-size: 40px;
	}
	.menu-main-subheader {
		font-size: 20px;
	}
	.menu-header {
		padding: 23px 0 23px 38px;
		font-size: 40px;
	}
	.in-menu-content {
		margin: 0 36px 40px;
	}
	.menu-item h3 {
		font-size: 30px;
		margin: 40px 0 20px;
	}
	.menu-list h4 {
		font-size: 27px;
		margin: 22px 0 16px;
	}
	.menu-list p {
		font-size: 18px;
		margin: 0;
	}
	.menu-img {
		height: 50px;
	}
	.foot {
		margin-top: 80px;
		padding: 18px;
	}
	.footer h3 {
		font-size: 18px;
	}
}
@media screen and (min-width: 980px) {
	.item-hidden {
		display: inline-block;
	}
	.navigation-header, .burger-button, .nav-bar.nav-bar-active, .service-btn {
		display: none;
	}
	.slogan {
		margin-top: 2px;
		padding: 64px 0 260px 30px;
	}
	.slogan-header {
		line-height: 64px;
		font-size: 54px;
	}
	.url {
		margin-top: 57px;
		font-size: 34px;
	}
	.section-services {
		flex-direction: row;
	}
	.services {
		flex: 1 0 calc(100% / 3);
	}
	.service-item {
		padding: 145px 0 150px;
	}
	.delivery {
		background-image: url(../img/pizza_fon-big.png);
	}
	.salads {
		background-image: url(../img/salads_fon-big.png);
	}
	.desserts {
		background-image: url(../img/desserts_fon-big.png);
	}
	.main-header {
		padding: 50px 30px 11px;
	}
	.menu-main-header {
		font-size: 34px;
	}
	.menu {
		flex-direction: row;
	}
	.menu-header {
		padding: 27px 0 23px 18px;
		font-size: 34px;
	}
	.in-menu-content {
		margin: 0 13px 0 19px;
	}
	.menu-item h3 {
		font-size: 26px;
	}
	.menu-list h4 {
		font-size: 24px;
		margin: 22px 0 16px;
	}
	.menu-list p {
		font-size: 16px;
	}
	.menu-img {
		height: 42px;
	}	
	.foot {
		padding: 0 30px;
	}
	.footer {
		justify-content: space-between;
		font-size: 18px;
	}
	.in-footer {
		flex-direction: row;
	}	
}
@media screen and (min-width: 1200px) {
	.container {
		max-width: 1200px;
		margin: 0 auto;
	}
	.nav-bar-hidden {
		margin-left: 37px;
	}
	.slogan {
		padding: 58px 0 380px 37px;
	}
	.slogan-header {
		font-size: 62px;
	}
	.url {
		margin-top: 53px;
		font-size: 38px;
	}
	.service-item {
		padding: 180px 0;
	}
	.service-item h2 {
		font-size: 43px;
	}
	.main-header {
		padding: 72px 12px 15px 22px;
	}
	.menu-header {
		padding: 23px 0 23px 18px;
		font-size: 40px;
	}
	.in-menu-content {
		margin: 0 15px 0 25px;
	}
	.menu-item h3 {
		font-size: 30px;
	}
	.menu-list h4 {
		font-size: 27px;
		margin: 22px 0 16px;
	}
	.menu-list p {
		font-size: 18px;
	}
	.menu-img {
		height: 50px;
	}	
	.foot {
		padding: 0 37px;
	}
}